.main{
    text-align: center;
    justify-content: center;
    display:flex;
    padding: 90px 0 90px 0;
  }
  
  .sub-main{
  display: flex;
  justify-content: center;
  position: relative; left: 30px;
  height: 430px;
  width:35%;
  box-shadow: 5px 5px 5px 5px rgb(85, 81, 81);
  padding-top: 30px;
  border-radius: 50px;
  }
  .name{
  display: flex;
  justify-content: center;
  position: relative; top: 20px;left: 10px;
  text-align: center;
  height: 25px;
  width: 170px;
  
  }
  
  .Uname{
    display: flex;
    justify-content: center;
    position: relative; top: 0px;left: 10px;
    text-align: center;
    height: 25px;
    width: 170px;
    
    }
    .mail{
      display: flex;
      justify-content: center;
      position: relative; top: 70px;left: 10px;
      text-align: center;
      height: 25px;
      width: 170px;
      } 
  .pass{
  position: relative; top: 50px; left: 10px;
  text-align: center;
  height: 25px;
  width: 170px;
  }
  .button{
  position: relative;  top: 80px; left: 10px;
  height: 50px;
  width: 100px;
  
  }
  .link{
  position: relative; top: 120px; left: 10px;
  }